<div>
  <img src="/Parallax.png" class="w-full" alt="" />
  <div class="absolute inset-0 justify-center items-center flex-col flex mb-96">
    <img src="/logofull.svg" class="z-10 size-64" alt="" />
    <h1 class="text-2xl text-white">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ab
      nostrum delectus natus saepe.
    </h1>
  </div>
</div>
