<div>
  <img src="/Parallax.png" class="w-full" alt="" />
  <div class="absolute inset-0 justify-center items-center flex-col flex mb-96">
    <a href="/">
      <img
        src="/logofull.svg"
        class="z-10 size-64 animate-fade-up delay-500"
        alt=""
      />
    </a>
    <h1 class="text-2xl text-white w-[80%] text-center">
      Volar ya no ser치 algo exclusivo de los sue침os, te presentamos la
      extraordinaria forma de volar, admira la arquitectura de los rascacielos,
      descubrir paisajes hermosos o si te gusta la adrenalina, experimentar tu
      deporte favorito m치s all치 de las gradas.
    </h1>
  </div>
</div>
