---
import AnimationImage from "@components/AnimationImage";
---

<div class="hidden md:block">
  <img src="/Parallax.png" class="w-full" alt="" />
  <div class="absolute inset-0 justify-center items-center flex-col flex mb-96">
    <a href="/">
      <AnimationImage
        image="/logofull.svg"
        className="z-10 size-64"
        initial={{ scale: 0 }}
        animate={{ scale: 1 }}
        transition={{ duration: 0.5 }}
        client:load
      />
    </a>
    <h1 class="text-2xl text-white w-[80%] text-center">
      Volar ya no ser치 algo exclusivo de los sue침os, te presentamos la
      extraordinaria forma de volar, admira la arquitectura de los rascacielos,
      descubrir paisajes hermosos o si te gusta la adrenalina, experimentar tu
      deporte favorito m치s all치 de las gradas.
    </h1>
  </div>
</div>

<div class="block md:hidden flex justify-center items-center">
  <img src="/Parallax.png" class="w-full h-full" alt="" />
  <div class="absolute z-10 top-10">
    <img src="/logofull.svg" class="size-64 animate-fade-up delay-500" alt="" />
  </div>
</div>
