---
import Layout from "../layouts/Layout.astro";
import { fade } from "astro:transitions";
import Close from "@components/icons/close.astro";
import Hero from "@components/About/Hero.astro";
---

<Layout title="TheCondorVision - About">
  <main transition:animate={fade({ duration: "0.8s" })}>
    <Hero />
    <a href="/">
      <Close class="absolute top-4 right-4 w-8 h-8 hover:stroke-white" />
    </a>
    <img src="/background.webp " class="w-full h-full object-cover" alt="" />
  </main>
</Layout>
