---
import Layout from "src/layouts/Layout.astro";
import Animation from "src/components/Animation.jsx";
---

<Layout title="TheCondorVision">
  <main>
    <div>
      <Animation client:load />
    </div>
  </main></Layout
>
