<div class="overflow-x-hidden">
  <iframe
    class="responsive-iframe"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3364.5396546547017!2d-117.02785738812123!3d32.51173099738563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d949444f8b70e9%3A0x1b68ee1ba31bd7f4!2sThe%20Condor%20Vision!5e0!3m2!1ses!2smx!4v1718136924341!5m2!1ses!2smx"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
  <div class="flex justify-center items-center">
    <section class="text-white mb-8 absolute">
      {" "}
      <div
        class="md:w-[1118px] bg-[#2D83C3] md:h-[150px] grid grid-cols-1 md:grid-cols-2 gap-8 px-16 py-8"
      >
        <div class="flex gap-4">
          {" "}
          <img src="/map.svg" alt="" />
          <div class="flex-col">
            <h1>UBíCANOS EN</h1>
            <p>Av. Hermosillo, #500, Col. Madero Sur (La Cacho)</p>
            <p>C.P. 22040, Tijuana, B.C.,México.</p>
          </div>
        </div>
        <div class="flex gap-4">
          {" "}
          <img src="/phone.svg" alt="" />
          <div class="flex-col">
            <h1>LLÁMANOS AL</h1>
            <p>Office: 664 732 3053</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<style>
  .responsive-iframe {
    width: 100%;
  }
</style>
