---
const videoIds = [
  "Nyh0vvo_PoE",
  "pttbwoSPEmw",
  "QxSSY9d3pqc",
  "7dJU7xJovss",
  "7ontVfYxok0",
];
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
  {
    videoIds.map((id) => (
      <a
        href={`https://www.youtube.com/watch?v=${id}`}
        target="_blank"
        rel="noopener noreferrer"
        class="block overflow-hidden rounded-lg shadow-lg"
      >
        <img
          src={`https://img.youtube.com/vi/${id}/maxresdefault.jpg`}
          alt="YouTube Video Thumbnail"
          class="w-full h-auto transform hover:scale-105 transition-transform duration-200 ease-in-out"
        />
      </a>
    ))
  }
</div>
